<link rel='stylesheet' type='text/css' href='css/material.min.css'>
<link rel='stylesheet' type='text/css' href='css/dataTables.material.min.css'/>

<div style='margin-top: 4%;  width:99%; '>
    <md-toolbar class="md-accent md-hue-2">
        <div class="md-toolbar-tools">
          <h2 style='color:#fff' class="md-flex">Liste des Professeurs</h2>
        </div>
    </md-toolbar>
    <md-content flex layout-padding>
            <div layout='row'>
            		<div layout='column'>
		               <md-button style='display:none;' class='btns md-raised md-accent' ng-click='admin.deleteP()'>Supprimer</md-button>
		          	   <md-button style='display:none;' class='btns md-raised w3-green' ng-click='admin.modifyP($event)'>Modifier</md-button>
		            </div>
		            <div id='tcontainer' style='margin-left: 14%' >
	                    <table  id="professorsTable" class="mdl-data-table"  cellspacing="0" width="100%">
	                                    <thead>
	                                        <tr>
	                                        	<th style='display: none'>id</th>
	                                            <th>Nom</th>
	                                            <th>Prénom</th>
	                                            <th>Email</th>
	                                            <th>Date de Naissance</th>
	                                            <th>Spécialité</th>
	                                            <th>&#201tablisement</th>
	                                            <th>grade</th>
	                                             <th style='display: none'>avatar</th>
	                                             <th style='display: none'>linkedin</th>
	                                             <th style='display: none'>facebook</th>
	                                             <th style='display: none'>twitter</th>
	                                        </tr>
	                                    </thead>
	                                    <tbody>
	                                        <tr ng-repeat='n in professors'>
	                                    	    <td style="display: none;">
	                                                {{n.id}}
	                                            </td>
	                                            <td>
	                                                {{n.last_name}}
	                                            </td>
	                                            <td>
	                                                {{n.first_name}}
	                                            </td>
	                                               <td ">
	                                                {{n.email}}
	                                            </td>
	                                             <td ">
	                                                {{n.birth_date}}
	                                            </td>
	                                            <td>
	                                                {{n.speciality}}
	                                            </td>
	                                             <td>
	                                                {{n.establishment}}
	                                            </td>
	                                             <td>
	                                                {{n.grade}}
	                                            </td>
	                                             <td style="display: none;">
	                                                {{n.avatar}}
	                                            </td>
	                                             <td style="display: none;">
	                                                {{n.linkedin}}
	                                            </td>
	                                             <td style="display: none;">
	                                                {{n.facebook}}
	                                            </td>
	                                             <td style="display: none;">
	                                                {{n.twitter}}
	                                            </td>
	                                        </tr>
	                                    </tbody>
	                    </table>
	                </div>
            </div>
          
    </md-content>
</div>

