    <link href="css/agency.min.css" rel="stylesheet">


 	<header id="head" class="secondary">
            <div class="container">
                    <h1  style ='padding-top: 2%'>&#192; propos de notre Formation</h1>
                </div>
    </header>


    <!-- container -->
      <section id='about' style="padding-top: 7%; padding-bottom: 0">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <ul class="timeline">
                                        <li>
                                            <div style='position: absolute;z-index: 2;' ng-click='home.about($event,0)' class="timeline-image">
                                            <md-tooltip md-direction="right">Plus d'infos...</md-tooltip>
                                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="subheading">Objectif de la formation</h4>
                                                </div>
                                                <div class="timeline-body">
                                                    <p class="text-muted">Les objectifs de ce master sont de se préparer à l'entrée en doctorat pour travailler en informatique dans le domaine des réseaux de communications. Le contenu est défini par une liste d'unités d'enseignement</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="timeline-inverted">
                                            <div ng-click='home.about($event,1)' style='position: absolute;z-index: 2;' class="timeline-image">
                                              <md-tooltip md-direction="left">Plus d'infos...</md-tooltip>
                                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="subheading">Durée de formation</h4>
                                                </div>
                                                <div class="timeline-body">
                                                    <p class="text-muted">Titulaire d'un BAC+3. <br>
                Durée de la formation: 2 années (4 Semestres: SEM 1, SEM 2, SEM 3 et SEM4).
                Les cours sont dispensés par des professeurs universitaires et des professionnels.
                L'assiduité est obligatoire.</p>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <div ng-click='home.about($event,2)' style='position: absolute;z-index: 2;' class="timeline-image">
                                              <md-tooltip md-direction="right">Plus d'infos...</md-tooltip>
                                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    <h4 class="subheading">Conditions d'accès</h4>
                                                </div>
                                                <div class="timeline-body">
                                                    <p class="text-muted">Licence en Sciences SMA & SMI <br>

                Licence en Sciences SVT ayant une formation suffisante en informatique. <br>

                Diplôme jugé équivalent </p>
                                                </div>
                                            </div>
                                        </li>
                                        <li class="timeline-inverted">
                                            <div ng-click='' style='position: absolute;z-index: 2;' class="timeline-image">
                                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                                            </div>
                                            <div class="timeline-panel">
                                                <div class="timeline-heading">
                                                    
                                                    <h4 class="subheading">Responsables de formation</h4>
                                                </div>
                                                <div class="timeline-body">
                                                    <p class="text-muted"><b>Responsable de la formation MBISD</b> <br>
                                                    Pr. Hassan BADIR <br>
                                                    hbadir@uae.ac.ma <br>
                                                </div>
                                            </div>
                                        </li>
                                        
                                    </ul>
                                </div>
                     </div>
             </div>
        </section>

