<style>
    td{
        padding: 0
    }
    #dynamicV{
        margin-left: -10%
    }
    .scheduler.templates.month_date_class{
        height: 30px
    }
    .dhx_cal_tab.active{
        margin-left: -10%
    }
    .dhx_cal_event_clear{
        font-size: 9pt
    }
  
</style>
<div class='w3-text-blue' style="margin-left: 40%; margin-top: 7%; font-weight: 800; font-size: 17px;">
    <span>Events Calendar</span>
</div>
<div id="calendarV" class="dhx_cal_container" style='width:80%; height:80%;margin-left: 8%'>
    <div class="dhx_cal_navline">
        <div class="dhx_cal_prev_button">&nbsp;</div>
        <div class="dhx_cal_next_button">&nbsp;</div>
        <div class="dhx_cal_today_button"></div>
       <div class="dhx_cal_date"></div>
        <div class="dhx_cal_tab" name="month_tab" ></div>
    </div>
    <div id='header' class="dhx_cal_header"></div>
    <div id='hbody'  class="dhx_cal_data"></div>       
</div>
