
<div layout='row' style='margin-top: 10%; font-weight: 600'>
	<div layout='row' class='w3-blue' 
			style='width: 22%; padding-top: 2%; padding-left:2%; height: 15%;' >
	    <div>
	        <i class="fa fa-user fa-5x"></i>
	    </div>
	    <div style='padding-top: 13%;padding-left: 20%;'>
	        <div style="text-align: end" class="huge">{{admin.cNumber}}</div>
	        <div>Candidates!</div>
	    </div>
	</div>
	<div layout='row' class='w3-pink' 
			style='width: 28%; padding-top: 2%; padding-left:2%; height: 15%; margin-left: 1%; padding-right: 2%;' >
	    <div>
	        <i class="fa fa-clock-o fa-5x"></i>
	    </div>
	    <div style='padding-top: 5%;padding-left: 3%;'>
	        <div style="text-align: end" class="huge">{{admin.cNumber}}</div>
	        <div>Number of dates until inscription ends!</div>
	    </div>
	</div>
</div>
