<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
 <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style type="text/css">
	body {

    background-color: #044558 ;
  }
   label{
      font-size: 14px ;
    }
.parent2 {
  top:85%;
  left:30px;
  position:fixed;
 display:block;
    width: 6%;
    height: 12%;
  background-color:transparent;
  border-radius:50%;
  z-index:20;
  -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}
.mask2 {
  top:85%;
  left:30px;
    width: 6%;
    height: 12%;
  background:darkSlateGray;
  border-radius:50%;
  position:absolute;
  z-index:21;
  color:white;
  text-align:center;
  line-height:120px;
  cursor:pointer;
  position:fixed;

}
.test1 {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    position:absolute;
}
.test2 {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}
.test3 {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;  
}
  .test4 {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
  top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;  
}



</style>

<div>
	
  <div class="parent2" id='linker'>
	  <div class="w3-blue-grey test1" ng-click='cd.userV($event)'><md-tooltip md-direction="top">Infos Personnelles</md-tooltip><i style='margin-top: 17%;' class="fa fa-user fa-2x"></i></div>
	  <div class=" w3-blue-grey test2"><i  style='margin-top: 17%;' class="fa fa-graduation-cap fa-2x"></i></div>
	  <div class="w3-blue-grey test3" ng-click='cd.uploadV(false)'><md-tooltip md-direction="top">Upload Fichier</md-tooltip><i style='margin-top: 17%;' class="fa fa-upload fa-2x"></i></div>
	  <div ng-click='cd.logout($event) ;' class="w3-blue-grey test4"><md-tooltip md-direction="top">log out</md-tooltip><i style='margin-top: 19%;' class="fa fa-power-off fa-2x"></i></div>
	  <div class="w3-pink mask2"><i style='margin-top: 19%;' class="fa fa-home fa-3x"></i></div>
 </div>
<md-dialog id='dialogId' style="max-height:100%; opacity:1;">
    <md-dialog-content >
         <div ng-include="candidateTemplate" class="md-dialog-content" id='candView'>
         </div>
    </md-dialog-content>
</md-dialog>


</div>
<script type="text/javascript">
	$(document).ready(function() {
       $("#dialogId").css({"top":"10", "margin-left":"10%", "max-width":"87%"}) ;
  var active1 = false;
  var active2 = false;
  var active3 = false;
  var active4 = false;

    $('.parent2').on('mousedown touchstart', function() {
    
    if (!active1) $(this).find('.test1').css({'background-color': 'gray', 'transform': 'translate(0px,-125px)'});
    else $(this).find('.test1').css({'background-color': 'dimGray', 'transform': 'none'}); 
     if (!active2) $(this).find('.test2').css({'background-color': 'gray', 'transform': 'translate(60px,-105px)'});
    else $(this).find('.test2').css({'background-color': 'darkGray', 'transform': 'none'});
      if (!active3) $(this).find('.test3').css({'background-color': 'gray', 'transform': 'translate(105px,-60px)'});
    else $(this).find('.test3').css({'background-color': 'silver', 'transform': 'none'});
      if (!active4) $(this).find('.test4').css({'background-color': 'gray', 'transform': 'translate(125px,0px)'});
    else $(this).find('.test4').css({'background-color': 'silver', 'transform': 'none'});
    active1 = !active1;
    active2 = !active2;
    active3 = !active3;
    active4 = !active4;
      
    });
});
</script>
