
    <link rel="favicon" href="images/favicon.png">
    <link rel="stylesheet" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">

    <link rel="stylesheet" href="css/font-awesome.min.css"> 
    <link rel="stylesheet" href="css/bootstrap-theme.css" media="screen"> 
    <link rel="stylesheet" href="css/style_e.css">
    <link rel='stylesheet' id='camera-css'  href='css/camera.css' type='text/css' media='all'> 



<div id='homeView' style="position: relative; height: 100%">
    <div id='preload' style="text-align: -webkit-center; height:100%; width:100%;background-image: url('img/preload.jpg'); background-size: cover;z-index: 4; position: absolute;">
            <md-progress-circular  class='md-accent md-hue-2' style='width:10%; height:10%;top:75%;' md-diameter="100" md-mode="determinate" ng-disabled='{{!home.activated}}' value="{{home.determinateValue}}"></md-progress-circular>
    </div>

    <!-- Fixed navbar -->
    <div class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <!-- Button for smallest screens -->
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
                <a class="navbar-brand" href="#" ng-click="home.link($event,'accueil')" style='height: 8%; padding-top:3% '><span style='font-weight: 600;font-size: 30px;color: cadetblue;'>MB</span>
                    <img style='display: inline; width: 16%'  src="icons/dna.png" ><span style='font-weight: 600;font-size: 30px; color: dodgerblue;'>ISD</span></a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav pull-right mainNav">
                    <li id='a_accueil' class="active"><a href="#" ng-click="home.link($event,'accueil')">Accueil</a></li>
                    <li id='a_formation'><a href="#" ng-click="home.formation($event)">formation (modules)</a></li>

                    <!--li id='a_timeline'><a  href="#"  ng-click="home.link($event,'timeline')">Timeline</a></li-->
                     <li id='a_students' class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">BISD<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <!--li><a href="#" ng-click="home.formation($event)">formation (modules)</a></li-->
                            <li id='a_timeline'><a  href="#"  ng-click="home.link($event,'timeline')">Timeline</a></li>
                            <li class=''><a href="#" ng-click="home.link($event,'professor')" >Staff</a></li>
                            <li class='limit'><a href="#" ng-click='' >&#201tudiants m1</a></li>
                            <li class=''><a href="#" ng-click="home.link($event,'students')" >Nos &#201tudiants</a></li>
                            <li class=''><a href="#" ng-click="home.link($event,'laureats')" >Nos Laureats</a></li>
                            <li class=''><a href="#" ng-click="home.link($event,'partenaire')" >Partenaires</a></li>
                        </ul>
                    </li>

                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Espace &#201tudiants<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click='home.signIn($event)'>Se connecter</a></li>
                            <li class='limit'><a href="#" ng-click='home.postuler($event)' >Postuler</a></li>
                        </ul>
                    </li>
                    <li><a href="#" id='a_news'   ng-click="home.link($event,'news')" >Actualités</a></li>
                    <li id='a_aboutP' ><a href="#"  ng-click="home.link($event,'aboutP')">&#192; propos</a></li> 
                    <li id='a_contact'><a href="#"   ng-click="home.link($event,'contact')">Contact</a></li>
                </ul>
            </div>
            <!--/.nav-collapse -->
        </div>
    </div>
    <!-- /.navbar -->
    <div id='dynamic' style='display: none; background-color: #ffffff; overflow:hidden' ng-include="home.template">
    </div>
     <footer id="footer" class='contactS'>
        <div class="container" >
                <div class="row">
                 <div class="footerbottom">
                    <div > 
                         <div class="footerwidget"> 
                                    <h4 style='text-align: center;padding-top: 1%;padding-bottom: 2%;font-size: 30px;'>Contact</h4> 
                                    <p style="text-align: center;">Afin de pouvoir nous contacter vous pouvez soit exploiter ces coordonées </p>
                                    <div style="text-align: center;" class="contact-info"> 
                                                <span style='padding:50px'><i class="fa fa-home"></i>Pays : Maroc </span>
                                                <span style='padding:50px'><i class="fa fa-home"></i>Ville : Tanger  </span>
                                                <span style='padding:50px'><i class="fa  fa-phone"></i>+212 5393-93744</span>
                                                <span style='padding:50px'><i class="fa  fa-globe"></i><a href="http://www.ensat.ac.ma" class='w3-hover-text-pink' target="_blank" style='font-weight:600;'>www.ensat.ac.ma</a></span>
                                   </div> 
                                   <div style='text-align: center;padding-top: 2%;padding-bottom: 2%;'>
                                   <a href="#" ng-click="home.link($event,'contact')" title="read more" class="btn-inline " target="_self">Ou nous envoyer un mail...</a> </div>
                            </div><!-- end widget --> 
                     </div>
                 </div>
                </div>
        </div>
    </footer>

       <!-- Start CCopyright Section -->
        <div id="copyright-section" class="copyright-section">
            <div class="container">
                <div class="row">
                    <div class="col-md-7">
                        <div class="copyright">
                            Copyright © 2017. All Rights Reserved.
                        </div>
                    </div>
                    
                    <div class="col-md-5">
                        <div class="copyright-menu pull-right">
                            <ul>
                                <li><a href="#" class="active">Ensa de Tanger</a></li>
                                <li><a href="#">MBISD</a></li>
                               
                            </ul>
                        </div>
                    </div>
                </div><!--/.row -->
            </div><!-- /.container -->
        </div>
   
</div>

    <script type='text/javascript' src='js/jquery.mobile.customized.min.js'></script>
    <script type='text/javascript' src='js/jquery.easing.1.3.js'></script> 
    <script src='scripts/camera.min.js'></script>   
    <script src='node_modules/file-saver/FileSaver.js'></script>
    <script src='scripts/Blob.js'></script>
    <script type="text/javascript">
    (function(){
        $('#homeView').perfectScrollbar({
                suppressScrollX:1,
                suppressScrollY:1
        });
        setTimeout(function() {
             $('#homeView').perfectScrollbar('destroy'); 
              $('#homeView').perfectScrollbar({
                suppressScrollX:1,
              });

        }, 2000);
  
        $(function () {
            $('.expander').simpleexpand();

        });
      
    })() ;
  
</script>